

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="4" data-background="img/banner/bg-01.jpg">
            <div class="container">
                <h1>Contact Us</h1>
                <ul>
                    <li>
                        <a href="index-2.cshtml">Home</a>
                    </li>
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start contact section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="font-size15 xs-font-size14 text-uppercase text-theme-color letter-spacing-1 font-weight-600">Get in touch</span>
                        <h4 class="no-margin-bottom xs-margin-10px-bottom margin-20px-top xs-margin-5px-top font-size48 sm-font-size40 xs-font-size36">Contact & access</h4>
                    </div>
                    <div class="col-md-6">
                        <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact section -->

        <!-- start map section -->
        <section class="no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <iframe class="map" id="gmap_canvas" src="https://maps.google.com/maps?q=london&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end map section -->

        <!-- start contact form -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 xs-margin-30px-bottom">
                        <div>
                            <h3>Find Us There</h3>
                            <div class="margin-30px-bottom sm-margin-20px-bottom">
                                <ul class="list-style-1 no-margin">
                                    <li>
                                        <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-map-marker-alt text-theme-color"></i></span>
                                        <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                    </li>
                                    <li>
                                        <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-phone text-theme-color"></i></span>
                                        <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">4355 6567 789</span>
                                    </li>
                                    <li>
                                        <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-envelope text-theme-color"></i></span>
                                        <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">your@name.com</span>
                                    </li>
                                </ul>
                            </div>
                            <ul class="social-icon-style sm-no-margin-bottom">
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">

                        <form method="post" action="#!">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Your Name:</label>
                                        <input id="name" name="name" placeholder="Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Your Email:</label>
                                        <input id="email" name="email" placeholder="Email" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone Number:</label>
                                        <input id="phone" name="phone" placeholder="Phone Number" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subject">Subject:</label>
                                        <input id="subject" name="subject" placeholder="subject" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Message:</label>
                                        <textarea name="message" rows="5" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="butn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact form -->

        <!-- start footer section -->
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>
	
	<!-- Serch -->
    <script src="search/search.js"></script>
	
    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

