@using Booking.Models
@model List<Room>


        <!-- start page title section -->

<section>
    <div class="container">
        <div class="text-center margin-50px-bottom xs-margin-30px-bottom">
            <h3 class="margin-10px-bottom">Our Rooms</h3>
            <p class="no-margin-bottom">Lorem Ipsum is simply dummy printing</p>
        </div>
        <div class="row">
            @foreach (var room in Model)
            {
                <div class="col-md-6 col-lg-4 margin-30px-bottom">
                    <div class="border">
                        <img src="~/img/content/@room.Img" alt="" /> <!-- Hiển thị ảnh của phòng -->
                        <div class="padding-25px-all">
                            <h5 class="margin-5px-bottom font-size28 xs-font-size24">@room.Description</h5> <!-- Hiển thị mô tả của phòng -->
                            <div class="font-size12 text-uppercase text-extra-dark-gray font-weight-700 margin-20px-bottom letter-spacing-2">
                                Start from $@room.Price/night
                            </div>
                        </div>
                            <div>
                        <div class="row align-items-center text-center padding-15px-tb">
                            
                           <div class="col-6 border-right"><a asp-controller="Booking" asp-action="MyBooking" class="butn small" data-roomid="@room.RoomId">book now</a></div>

                                <div class="col-6"><span class="display-block font-size20 letter-spacing-2 text-extra-dark-gray"></span>@room.Price<span>Per night</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
