@using Booking.Models
@model List<Room>

@{
    Layout = "_Layout";
}
        <!-- start page title section -->

<section>
    <div class="container">
        <div class="text-center margin-50px-bottom xs-margin-30px-bottom">
            <h3 class="margin-10px-bottom">Our Rooms</h3>
            <p class="no-margin-bottom">Lorem Ipsum is simply dummy printing</p>
        </div>
        <div class="row">
            @foreach (var room in Model)
            {
                <div class="col-md-6 col-lg-4 margin-30px-bottom">
                    <div class="border">
                        <img src="~/img/content/@room.Img" alt="" /> <!-- Hiển thị ảnh của phòng -->
                        <div class="padding-25px-all">
                            <h5 class="margin-5px-bottom font-size28 xs-font-size24">@room.Description</h5> <!-- Hiển thị mô tả của phòng -->
                            <div class="font-size12 text-uppercase text-extra-dark-gray font-weight-700 margin-20px-bottom letter-spacing-2">
                                Start from $@room.Price/night
                            </div>
                            <a href="single-room.cshtml" class="font-weight-600 text-theme-color">
                                Room Details
                                <i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
