@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="4" data-background="img/banner/bg-01.jpg" style="background-image: url('img/banner/bg-02.jpg');">
    <div class="container">
        <h1>Restaurant</h1>
        <ul>
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li>
                <a href="#!">Luxury &amp; Graceful Restaurant</a>
            </li>
        </ul>
    </div>
</section>
<!-- end page title section -->
<!-- start about section -->
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 xs-margin-30px-bottom">
                <div class="row">
                    <div class="col-sm-6 mobile-display-none">
                        <img src="~/img/content/08.jpg" alt="" />
                    </div>
                    <div class="col-sm-6 mobile-display-none">
                        <img src="~/img/content/09.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="margin-20px-bottom sm-margin-5px-bottom text-center sm-text-left text-uppercase letter-spacing-2">hotel fivestar</div>
                        <h4 class="margin-30px-bottom sm-margin-15px-bottom font-size34 sm-font-size30 text-center sm-text-left">Explore Our Restaurant</h4>
                        <p class="no-margin-bottom text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- start counter section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 xs-margin-30px-bottom">
                <div class="text-center xs-text-left">
                    <h4 class="countup font-size48 sm-font-size42 xs-font-size36 no-margin-bottom">845</h4>
                    <p class="no-margin-bottom font-size16 letter-spacing-1 font-weight-600 text-extra-dark-gray">Team Energy</p>
                </div>
            </div>
            <div class="col-6 col-md-3 xs-margin-30px-bottom">
                <div class="text-center xs-text-left">
                    <h4 class="countup font-size48 sm-font-size42 xs-font-size36 no-margin-bottom">219</h4>
                    <p class="no-margin-bottom font-size16 letter-spacing-1 font-weight-600 text-extra-dark-gray">Happy Clients</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="text-center xs-text-left">
                    <h4 class="countup font-size48 sm-font-size42 xs-font-size36 no-margin-bottom">114</h4>
                    <p class="no-margin-bottom font-size16 letter-spacing-1 font-weight-600 text-extra-dark-gray">Amazing Dishes</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="text-center xs-text-left">
                    <h4 class="countup font-size48 sm-font-size42 xs-font-size36 no-margin-bottom">572</h4>
                    <p class="no-margin-bottom font-size16 letter-spacing-1 font-weight-600 text-extra-dark-gray">Satified Staff</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end counter section -->
<!-- start menu section -->
<section>
    <div class="container">
        <div class="text-center margin-40px-bottom xs-margin-30px-bottom">
            <h3 class="no-margin-bottom">Food Menu</h3>
            <p class="no-margin-bottom">Lorem Ipsum is simply dummy printing</p>
        </div>
        <div class="row">
            <div class="col-md-6 xs-margin-50px-bottom">
                <div class="padding-20px-right xs-no-padding-right">
                    <h4 class="text-uppercase letter-spacing-1 margin-30px-bottom font-size24 xs-font-size22">Starter:</h4>
                    <div class="d-flex justify-content-between margin-30px-bottom">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Lemon-Rosemary Chicken</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$34.5</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between margin-30px-bottom">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Imported Oysters Grill (5 Pieces)</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$25.6</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between margin-30px-bottom">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Wild Mushroom Bucatini with Kale</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$45.5</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Tuna Roast Source</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$72.5</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="padding-20px-left xs-no-padding-left">
                    <h4 class="text-uppercase letter-spacing-1 margin-30px-bottom font-size24 xs-font-size22">Main Course:</h4>
                    <div class="d-flex justify-content-between margin-30px-bottom">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Salted Fried Chicken</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$14.5</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between margin-30px-bottom">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Crab With Curry Sources</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$42.5</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between margin-30px-bottom">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Imported Salmon Steak</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$57.8</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="no-margin-bottom font-size20 xs-font-size18">Pork with Italian Salsa Verde</h4>
                            <p class="text-extra-dark-gray no-margin-bottom font-size14">Chicken / Rosemary / Lemon</p>
                        </div>
                        <div>
                            <h6 class="no-margin-bottom font-size18">$35.5</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end menu section -->
<!-- start gallery section -->
<section>
    <div class="container">
        <div class="text-center margin-40px-bottom xs-margin-30px-bottom">
            <h3 class="no-margin-bottom">Food Gallery</h3>
            <p class="no-margin-bottom">Lorem Ipsum is simply dummy printing</p>
        </div>
        <div class="row">
            <div class="col-md-4 margin-30px-bottom">
                <img src="~/img/portfolio/11.jpg" alt="" />
            </div>
            <div class="col-md-4 margin-30px-bottom">
                <img src="~/img/portfolio/12.jpg" alt="" />
            </div>
            <div class="col-md-4 margin-30px-bottom">
                <img src="~/img/portfolio/13.jpg" alt="" />
            </div>
            <div class="col-md-4 xs-margin-30px-bottom">
                <img src="~/img/portfolio/14.jpg" alt="" />
            </div>
            <div class="col-md-4 xs-margin-30px-bottom">
                <img src="~/img/portfolio/15.jpg" alt="" />
            </div>
            <div class="col-md-4">
                <img src="~/img/portfolio/16.jpg" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- end gallery section -->
<!-- start footer section -->
