
<!-- start page title section -->
<section class="page-title-section bg-img cover-background" data-overlay-dark="4" data-background="img/banner/bg-01.jpg">
    <div class="container">
        <h1>Blog Masonry</h1>
        <ul>
            <li>
                <a href="index-2.cshtml">Home</a>
            </li>
            <li>
                <a href="#!">Blog Masonry</a>
            </li>
        </ul>
    </div>
</section>
<!-- end page title section -->
<!-- start blog section -->
<section>
    <div class="container">
        <div class="masonry-style-1">

            <div class="margin-30px-bottom">
                <div class="theme-shadow">
                    <img src="~/img/blog/blog-04.jpg" alt="" />
                    <div class="padding-25px-tb padding-20px-lr">
                        <div class="font-size12 text-uppercase text-theme-color font-weight-700 margin-10px-bottom letter-spacing-1">Jan 3, 2020</div>
                        <h5 class="margin-10px-bottom font-size26">Delicious Food</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
                        <a href="blog-details.cshtml" class="font-weight-600">View Details<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                    </div>
                </div>
            </div>


            <div class="padding-30px-tb text-center bg-theme margin-30px-bottom xs-text-center">
                <a href="#!">
                    <i class="fas fa-link text-white margin-15px-bottom"></i>
                    <h4 class="no-margin-bottom text-white font-weight-500">Check New Events</h4>
                </a>
            </div>


            <div class="padding-40px-all bg-theme text-center margin-30px-bottom">
                <h4 class="text-white">Follow our Resort Fivestar Hotels</h4>
                <p class="no-margin-bottom text-white blockquote-blog position-relative">John Doe</p>
            </div>

            <div class="margin-30px-bottom">
                <div class="theme-shadow">
                    <img src="~/img/blog/blog-03.jpg" alt="" />
                    <div class="padding-25px-tb padding-20px-lr">
                        <div class="font-size12 text-uppercase text-theme-color font-weight-700 margin-10px-bottom letter-spacing-1">Feb 22, 2020</div>
                        <h5 class="margin-10px-bottom font-size26">Around Us</h5>
                        <a href="blog-details.cshtml" class="font-weight-600">View Details<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                    </div>
                </div>
            </div>

            <div class="margin-30px-bottom">
                <div class="featured-1 position-relative overflow-hidden">
                    <div class="featured-img">
                        <img src="~/img/content/room-1.jpg" alt="" />
                    </div>
                    <div class="featured-text">
                        <h4 class="margin-5px-bottom">
                            <a href="blog-details.cshtml" class="font-size28 text-white font-weight-500">Relax Zone</a>
                        </h4>
                        <a href="blog-details.cshtml" class="font-weight-600 text-white">Read More<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                    </div>
                </div>
            </div>

            <div>
                <div class="featured-1 position-relative overflow-hidden">
                    <div class="featured-img">
                        <img src="~/img/blog/blog-10.jpg" alt="" />
                    </div>
                    <div class="featured-text">
                        <h4 class="margin-5px-bottom">
                            <a href="blog-details.cshtml" class="font-size28 text-white font-weight-500">Best Rooms</a>
                        </h4>
                        <a href="blog-details.cshtml" class="font-weight-600 text-white">Read More<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>